.img-circle {
    border-radius: 50%;
}

.small-img{
    height: 40px;
    width: 40px;
}

.header-user-image{
    
    height: 55px;
    width: 55px; 
}

.card-user-image{
    height: 70px;
    width: 70px; 

}